
@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1d41d.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg"),
    url("fonts/untitled-font-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-streamline-umbrella-weather:before {
  content: "a";
}

.icon-streamline-sync:before {
  content: "b";
}

.icon-streamline-suitcase-travel:before {
  content: "c";
}

.icon-stamp-streamline:before {
  content: "d";
}

.icon-speech-streamline-talk-user:before {
  content: "e";
}

.icon-shoes-snickers-streamline:before {
  content: "f";
}

.icon-settings-streamline-2:before {
  content: "g";
}

.icon-settings-streamline-1:before {
  content: "h";
}

.icon-settings-streamline:before {
  content: "i";
}

.icon-remote-control-streamline:before {
  content: "j";
}

.icon-receipt-shopping-streamline:before {
  content: "k";
}

.icon-picture-streamline-1:before {
  content: "l";
}

.icon-picture-streamline:before {
  content: "m";
}

.icon-photo-pictures-streamline:before {
  content: "n";
}

.icon-pen-streamline-3:before {
  content: "o";
}

.icon-pen-streamline-2:before {
  content: "p";
}

.icon-pen-streamline-1:before {
  content: "q";
}

.icon-pen-streamline:before {
  content: "r";
}

.icon-painting-roll-streamline:before {
  content: "s";
}

.icon-painting-pallet-streamline:before {
  content: "t";
}

.icon-paint-bucket-streamline:before {
  content: "u";
}

.icon-notebook-streamline:before {
  content: "v";
}

.icon-music-speaker-streamline:before {
  content: "w";
}

.icon-music-note-streamline:before {
  content: "x";
}

.icon-monocle-mustache-streamline:before {
  content: "y";
}

.icon-micro-record-streamline:before {
  content: "z";
}

.icon-map-streamline-user:before {
  content: "A";
}

.icon-map-pin-streamline:before {
  content: "B";
}

.icon-man-people-streamline-user:before {
  content: "C";
}

.icon-magnet-streamline:before {
  content: "D";
}

.icon-magic-magic-wand-streamline:before {
  content: "E";
}

.icon-macintosh:before {
  content: "F";
}

.icon-locker-streamline-unlock:before {
  content: "G";
}

.icon-lock-locker-streamline:before {
  content: "H";
}

.icon-link-streamline:before {
  content: "I";
}

.icon-like-love-streamline:before {
  content: "J";
}

.icon-laptop-macbook-streamline:before {
  content: "K";
}

.icon-japan-streamline-tea:before {
  content: "L";
}

.icon-ipod-streamline:before {
  content: "M";
}

.icon-ipod-music-streamline:before {
  content: "N";
}

.icon-ipod-mini-music-streamline:before {
  content: "O";
}

.icon-iphone-streamline:before {
  content: "P";
}

.icon-ipad-streamline:before {
  content: "Q";
}

.icon-ink-pen-streamline:before {
  content: "R";
}

.icon-ibook-laptop:before {
  content: "S";
}

.icon-home-house-streamline:before {
  content: "T";
}

.icon-headset-sound-streamline:before {
  content: "U";
}

.icon-happy-smiley-streamline:before {
  content: "V";
}

.icon-handle-streamline-vector:before {
  content: "W";
}

.icon-grid-lines-streamline:before {
  content: "X";
}

.icon-frame-picture-streamline:before {
  content: "Y";
}

.icon-food-ice-cream-streamline:before {
  content: "Z";
}

.icon-first-aid-medecine-shield-streamline:before {
  content: "0";
}

.icon-factory-lift-streamline-warehouse:before {
  content: "1";
}

.icon-eye-dropper-streamline:before {
  content: "2";
}

.icon-envellope-mail-streamline:before {
  content: "3";
}

.icon-email-mail-streamline:before {
  content: "4";
}

.icon-edit-modify-streamline:before {
  content: "5";
}

.icon-eat-food-hotdog-streamline:before {
  content: "6";
}

.icon-eat-food-fork-knife-streamline:before {
  content: "7";
}

.icon-earth-globe-streamline:before {
  content: "8";
}

.icon-drug-medecine-streamline-syringue:before {
  content: "9";
}

.icon-diving-leisure-sea-sport-streamline:before {
  content: "!";
}

.icon-design-pencil-rule-streamline:before {
  content: "\"";
}

.icon-design-graphic-tablet-streamline-tablet:before {
  content: "#";
}

.icon-delete-garbage-streamline:before {
  content: "$";
}

.icon-database-streamline:before {
  content: "%";
}

.icon-dashboard-speed-streamline:before {
  content: "&";
}

.icon-danger-death-delete-destroy-skull-stream:before {
  content: "'";
}

.icon-crown-king-streamline:before {
  content: "(";
}

.icon-crop-streamline:before {
  content: ")";
}

.icon-cook-pan-pot-streamline:before {
  content: "*";
}

.icon-computer-streamline:before {
  content: "+";
}

.icon-computer-network-streamline:before {
  content: ",";
}

.icon-computer-macintosh-vintage:before {
  content: "-";
}

.icon-computer-imac-2:before {
  content: ".";
}

.icon-computer-imac:before {
  content: "/";
}

.icon-coffee-streamline:before {
  content: ":";
}

.icon-cocktail-mojito-streamline:before {
  content: ";";
}

.icon-clock-streamline-time:before {
  content: "<";
}

.icon-chef-food-restaurant-streamline:before {
  content: "=";
}

.icon-chaplin-hat-movie-streamline:before {
  content: ">";
}

.icon-camera-streamline-video:before {
  content: "?";
}

.icon-camera-photo-streamline:before {
  content: "@";
}

.icon-camera-photo-polaroid-streamline:before {
  content: "[";
}

.icon-caddie-shopping-streamline:before {
  content: "]";
}

.icon-caddie-shop-shopping-streamline:before {
  content: "^";
}

.icon-bubble-love-streamline-talk:before {
  content: "_";
}

.icon-bubble-comment-streamline-talk:before {
  content: "`";
}

.icon-brush-paint-streamline:before {
  content: "{";
}

.icon-browser-streamline-window:before {
  content: "|";
}

.icon-book-read-streamline:before {
  content: "}";
}

.icon-book-dowload-streamline:before {
  content: "~";
}

.icon-bomb-bug:before {
  content: "\";
}

.icon-barista-coffee-espresso-streamline:before {
  content: "\e000";
}

.icon-barbecue-eat-food-streamline:before {
  content: "\e001";
}

.icon-bag-shopping-streamline:before {
  content: "\e002";
}

.icon-backpack-streamline-trekking:before {
  content: "\e003";
}

.icon-arrow-streamline-target:before {
  content: "\e004";
}

.icon-armchair-chair-streamline:before {
  content: "\e005";
}

.icon-content-43:before {
  content: "\e041";
}

.icon-content-42:before {
  content: "\e042";
}

.icon-content-41:before {
  content: "\e060";
}

.icon-left-open-big:before {
  content: "\e098";
}

.icon-right-open-big:before {
  content: "\e0cc";
}

.icon-left-open-mini:before {
  content: "\e0cd";
}

.icon-right-open-mini:before {
  content: "\e0d3";
}

.icon-rocket-1:before {
  content: "\e0d4";
}

.icon-world:before {
  content: "\e163";
}

.icon-vynil:before {
  content: "\e164";
}

.icon-video:before {
  content: "\e165";
}

.icon-vallet:before {
  content: "\e166";
}

.icon-user-1:before {
  content: "\e167";
}

.icon-tv:before {
  content: "\e168";
}

.icon-truck:before {
  content: "\e169";
}

.icon-trash-1:before {
  content: "\e16a";
}

.icon-tag-1:before {
  content: "\e16b";
}

.icon-t-shirt:before {
  content: "\e16c";
}

.icon-study:before {
  content: "\e16d";
}

.icon-star-1:before {
  content: "\e16e";
}

.icon-stack:before {
  content: "\e16f";
}

.icon-sound:before {
  content: "\e170";
}

.icon-shop:before {
  content: "\e171";
}

.icon-settings-1:before {
  content: "\e172";
}

.icon-search-1:before {
  content: "\e173";
}

.icon-photo:before {
  content: "\e174";
}

.icon-phone-4:before {
  content: "\e175";
}

.icon-pen:before {
  content: "\e176";
}

.icon-params:before {
  content: "\e177";
}

.icon-paperplane:before {
  content: "\e178";
}

.icon-note:before {
  content: "\e179";
}

.icon-news:before {
  content: "\e17a";
}

.icon-music:before {
  content: "\e17b";
}

.icon-megaphone:before {
  content: "\e17c";
}

.icon-mail:before {
  content: "\e17d";
}

.icon-lock-1:before {
  content: "\e17e";
}

.icon-location:before {
  content: "\e17f";
}

.icon-like:before {
  content: "\e180";
}

.icon-lab-1:before {
  content: "\e181";
}

.icon-key:before {
  content: "\e182";
}

.icon-heart-1:before {
  content: "\e183";
}

.icon-food:before {
  content: "\e184";
}

.icon-fire:before {
  content: "\e185";
}

.icon-eye:before {
  content: "\e186";
}

.icon-display:before {
  content: "\e187";
}

.icon-diamond-1:before {
  content: "\e188";
}

.icon-data:before {
  content: "\e189";
}

.icon-cup:before {
  content: "\e18a";
}

.icon-cloud-2:before {
  content: "\e18b";
}

.icon-clock-1:before {
  content: "\e18c";
}

.icon-clip:before {
  content: "\e18d";
}

.icon-camera-2:before {
  content: "\e18e";
}

.icon-calendar-1:before {
  content: "\e18f";
}

.icon-bulb:before {
  content: "\e190";
}

.icon-bubble-4:before {
  content: "\e191";
}

.icon-banknote:before {
  content: "\e192";
}

.icon-quik:before {
  content: "\e193";
}

.icon-qik:before {
  content: "\e194";
}

.icon-posterous:before {
  content: "\e195";
}

.icon-podcast:before {
  content: "\e196";
}

.icon-plurk:before {
  content: "\e197";
}

.icon-plixi:before {
  content: "\e198";
}

.icon-playstation:before {
  content: "\e199";
}

.icon-pingchat:before {
  content: "\e19a";
}

.icon-ping:before {
  content: "\e19b";
}

.icon-pinboard:before {
  content: "\e19c";
}

.icon-picassa:before {
  content: "\e19d";
}

.icon-picasa:before {
  content: "\e19e";
}

.icon-photobucket:before {
  content: "\e19f";
}

.icon-paypal:before {
  content: "\e1a0";
}

.icon-path:before {
  content: "\e1a1";
}

.icon-pandora:before {
  content: "\e1a2";
}

.icon-orkut:before {
  content: "\e1a3";
}

.icon-openid:before {
  content: "\e1a4";
}

.icon-official:before {
  content: "\e1a5";
}

.icon-newsvine:before {
  content: "\e1a6";
}

.icon-myspace-alt:before {
  content: "\e1a7";
}

.icon-myspace:before {
  content: "\e1a8";
}

.icon-msn-messenger:before {
  content: "\e1a9";
}

.icon-mobileme:before {
  content: "\e1aa";
}

.icon-mixx-alt:before {
  content: "\e1ab";
}

.icon-mixx:before {
  content: "\e1ac";
}

.icon-mister-wong:before {
  content: "\e1ad";
}

.icon-ming:before {
  content: "\e1ae";
}

.icon-metacafe:before {
  content: "\e1af";
}

.icon-meetup:before {
  content: "\e1b0";
}

.icon-lovedsgn:before {
  content: "\e1b1";
}

.icon-livejournal:before {
  content: "\e1b2";
}

.icon-linkedin-alt:before {
  content: "\e1b3";
}

.icon-linkedin:before {
  content: "\e1b4";
}

.icon-last:before {
  content: "\e1b5";
}

.icon-krop:before {
  content: "\e1b6";
}

.icon-kik:before {
  content: "\e1b7";
}

.icon-itunes:before {
  content: "\e1b8";
}

.icon-instapaper:before {
  content: "\e1b9";
}

.icon-identi:before {
  content: "\e1ba";
}

.icon-icq:before {
  content: "\e1bb";
}

.icon-hyves:before {
  content: "\e1bc";
}

.icon-hype-machine:before {
  content: "\e1bd";
}

.icon-hi5:before {
  content: "\e1be";
}

.icon-hacker-news:before {
  content: "\e1bf";
}

.icon-grooveshark:before {
  content: "\e1c0";
}

.icon-gowalla-alt:before {
  content: "\e1c1";
}

.icon-gowalla:before {
  content: "\e1c2";
}

.icon-google-talk:before {
  content: "\e1c3";
}

.icon-google-buzz:before {
  content: "\e1c4";
}

.icon-google:before {
  content: "\e1c5";
}

.icon-goodreads:before {
  content: "\e1c6";
}

.icon-github-alt:before {
  content: "\e1c7";
}

.icon-github:before {
  content: "\e1c8";
}

.icon-gdgt:before {
  content: "\e1c9";
}

.icon-friendster:before {
  content: "\e1ca";
}

.icon-friendfeed:before {
  content: "\e1cb";
}

.icon-foursquare:before {
  content: "\e1cc";
}

.icon-forrst:before {
  content: "\e1cd";
}

.icon-formspring:before {
  content: "\e1ce";
}

.icon-folkd:before {
  content: "\e1cf";
}

.icon-flickr:before {
  content: "\e1d0";
}

.icon-feedburner:before {
  content: "\e1d1";
}

.icon-facto:before {
  content: "\e1d2";
}

.icon-facebook-places:before {
  content: "\e1d3";
}

.icon-facebook-alt:before {
  content: "\e1d4";
}

.icon-facebook:before {
  content: "\e1d5";
}

.icon-evernote:before {
  content: "\e1d6";
}

.icon-etsy:before {
  content: "\e1d7";
}

.icon-ember:before {
  content: "\e1d8";
}

.icon-ebay:before {
  content: "\e1d9";
}

.icon-dzone:before {
  content: "\e1da";
}

.icon-drupal:before {
  content: "\e1db";
}

.icon-dropbox-1:before {
  content: "\e1dc";
}

.icon-dribbble-1:before {
  content: "\e1dd";
}

.icon-diigo:before {
  content: "\e1de";
}

.icon-digg-alt:before {
  content: "\e1df";
}

.icon-digg:before {
  content: "\e1e0";
}

.icon-deviantart:before {
  content: "\e1e1";
}

.icon-designmoo:before {
  content: "\e1e2";
}

.icon-designfloat:before {
  content: "\e1e3";
}

.icon-designbump:before {
  content: "\e1e4";
}

.icon-delicious:before {
  content: "\e1e5";
}

.icon-dailybooth:before {
  content: "\e1e6";
}

.icon-creative-commons:before {
  content: "\e1e7";
}

.icon-coroflot:before {
  content: "\e1e8";
}

.icon-cloudapp:before {
  content: "\e1e9";
}

.icon-cinch:before {
  content: "\e1ea";
}

.icon-brightkite:before {
  content: "\e1eb";
}

.icon-bnter:before {
  content: "\e1ec";
}

.icon-blogger:before {
  content: "\e1ed";
}

.icon-blip:before {
  content: "\e1ee";
}

.icon-bing:before {
  content: "\e1ef";
}

.icon-behance:before {
  content: "\e1f0";
}

.icon-bebo:before {
  content: "\e1f1";
}

.icon-basecamp:before {
  content: "\e1f2";
}

.icon-baidu:before {
  content: "\e1f3";
}

.icon-aws:before {
  content: "\e1f4";
}

.icon-arto:before {
  content: "\e1f5";
}

.icon-apple-1:before {
  content: "\e1f6";
}

.icon-app-store:before {
  content: "\e1f7";
}

.icon-amazon:before {
  content: "\e1f8";
}

.icon-aim-alt:before {
  content: "\e1f9";
}

.icon-aim:before {
  content: "\e1fa";
}

.icon-zynga:before {
  content: "\e1fb";
}

.icon-zootool:before {
  content: "\e1fc";
}

.icon-zerply:before {
  content: "\e1fd";
}

.icon-youtube-alt:before {
  content: "\e1fe";
}

.icon-youtube:before {
  content: "\e1ff";
}

.icon-yelp:before {
  content: "\e200";
}

.icon-yahoo-messenger:before {
  content: "\e201";
}

.icon-yahoo-buzz:before {
  content: "\e202";
}

.icon-yahoo:before {
  content: "\e203";
}

.icon-xing:before {
  content: "\e204";
}

.icon-wordpress-alt:before {
  content: "\e205";
}

.icon-wordpress:before {
  content: "\e206";
}

.icon-wists:before {
  content: "\e207";
}

.icon-windows-1:before {
  content: "\e208";
}

.icon-wikipedia:before {
  content: "\e209";
}

.icon-whatsapp:before {
  content: "\e20a";
}

.icon-w3:before {
  content: "\e20b";
}

.icon-virb:before {
  content: "\e20c";
}

.icon-vimeo:before {
  content: "\e20d";
}

.icon-viddler:before {
  content: "\e20e";
}

.icon-vcard:before {
  content: "\e20f";
}

.icon-twitter-alt:before {
  content: "\e210";
}

.icon-twitter:before {
  content: "\e211";
}

.icon-tumblr:before {
  content: "\e212";
}

.icon-tripit:before {
  content: "\e213";
}

.icon-tribe:before {
  content: "\e214";
}

.icon-threewords:before {
  content: "\e215";
}

.icon-technorati:before {
  content: "\e216";
}

.icon-stumbleupon:before {
  content: "\e217";
}

.icon-steam:before {
  content: "\e218";
}

.icon-squidoo:before {
  content: "\e219";
}

.icon-squarespace:before {
  content: "\e21a";
}

.icon-spotify:before {
  content: "\e21b";
}

.icon-soundcloud:before {
  content: "\e21c";
}

.icon-smugmug:before {
  content: "\e21d";
}

.icon-slideshare:before {
  content: "\e21e";
}

.icon-slashdot:before {
  content: "\e21f";
}

.icon-skype:before {
  content: "\e220";
}

.icon-simplenote:before {
  content: "\e221";
}

.icon-sharethis:before {
  content: "\e222";
}

.icon-scribd:before {
  content: "\e223";
}

.icon-rss:before {
  content: "\e224";
}

.icon-robo:before {
  content: "\e225";
}

.icon-retweet:before {
  content: "\e226";
}

.icon-reddit:before {
  content: "\e227";
}

.icon-readernaut:before {
  content: "\e228";
}

.icon-rdio:before {
  content: "\e229";
}

.icon-quora:before {
  content: "\e22a";
}

.icon-browser-empty:before {
  content: "\e22b";
}

.icon-lock-2:before {
  content: "\e22c";
}

.icon-map-pin:before {
  content: "\e22d";
}

.icon-bubble-1-1:before {
  content: "\e22e";
}

.icon-bag-1:before {
  content: "\e22f";
}

.icon-envelope-1:before {
  content: "\e230";
}

.icon-unlock-1:before {
  content: "\e231";
}

.icon-ribbon:before {
  content: "\e232";
}

.icon-file-text:before {
  content: "\e233";
}

.icon-bubble-3-1:before {
  content: "\e234";
}

.icon-bicycle-vintage:before {
  content: "\e235";
}

.icon-browser-full:before {
  content: "\e236";
}

.icon-pencil-ruler:before {
  content: "\e237";
}

.icon-mouse:before {
  content: "\e238";
}

.icon-heart-2:before {
  content: "\e239";
}

.icon-hierarchy-2:before {
  content: "\e23a";
}

.icon-file-jpg:before {
  content: "\e23b";
}

.icon-keyboard:before {
  content: "\e23c";
}

.icon-map-1:before {
  content: "\e23d";
}

.icon-ipad-1:before {
  content: "\e23e";
}

.icon-clipboard-1:before {
  content: "\e23f";
}

.icon-iphone:before {
  content: "\e240";
}

.icon-laptop-1:before {
  content: "\e241";
}

.icon-cloudy:before {
  content: "\e242";
}

.icon-list-1:before {
  content: "\e243";
}

.icon-shoe:before {
  content: "\e244";
}

.icon-line:before {
  content: "\e245";
}

.icon-bubble-2-1:before {
  content: "\e246";
}

.icon-pencil-1:before {
  content: "\e247";
}

.icon-file-png:before {
  content: "\e248";
}

.icon-rain:before {
  content: "\e249";
}

.icon-clock-2:before {
  content: "\e24a";
}

.icon-imac:before {
  content: "\e24b";
}

.icon-moon:before {
  content: "\e24c";
}

.icon-camera-3:before {
  content: "\e24d";
}

.icon-file-ai:before {
  content: "\e24e";
}

.icon-magnifier:before {
  content: "\e24f";
}

.icon-picture-1:before {
  content: "\e250";
}

.icon-hierarchy:before {
  content: "\e251";
}

.icon-target:before {
  content: "\e252";
}

.icon-speaker-1:before {
  content: "\e253";
}

.icon-speaker-off:before {
  content: "\e254";
}

.icon-sun-1:before {
  content: "\e255";
}

.icon-list-thumbnails:before {
  content: "\e256";
}

.icon-clap-board:before {
  content: "\e257";
}

.icon-tape:before {
  content: "\e258";
}

.icon-file-psd:before {
  content: "\e259";
}

.icon-graph-1:before {
  content: "\e25a";
}

.icon-cloud-3:before {
  content: "\e25b";
}

.icon-bicycle:before {
  content: "\e25c";
}

.icon-compass:before {
  content: "\e25d";
}

.icon-moon-1:before {
  content: "\e25e";
}

.icon-snow-black-1:before {
  content: "\e25f";
}

.icon-cloud-moon:before {
  content: "\e260";
}

.icon-sun-black:before {
  content: "\e261";
}

.icon-hail-black:before {
  content: "\e262";
}

.icon-rain-2:before {
  content: "\e263";
}

.icon-fog-moon:before {
  content: "\e264";
}

.icon-cloud-1-1:before {
  content: "\e265";
}

.icon-snow-4:before {
  content: "\e266";
}

.icon-cloud-sun-1:before {
  content: "\e267";
}

.icon-fog-cloud:before {
  content: "\e268";
}

.icon-fog:before {
  content: "\e269";
}

.icon-wind:before {
  content: "\e26a";
}

.icon-farenheit:before {
  content: "\e26b";
}

.icon-cloud-moon-black:before {
  content: "\e26c";
}

.icon-n-a:before {
  content: "\e26d";
}

.icon-snow-black-2:before {
  content: "\e26e";
}

.icon-fog-sun:before {
  content: "\e26f";
}

.icon-sunrise:before {
  content: "\e270";
}

.icon-wind-black:before {
  content: "\e271";
}

.icon-cloud-black-2:before {
  content: "\e272";
}

.icon-wind-rain-black:before {
  content: "\e273";
}

.icon-rain-black-1:before {
  content: "\e274";
}

.icon-celcius:before {
  content: "\e275";
}

.icon-lightning-black-1:before {
  content: "\e276";
}

.icon-lightning-3:before {
  content: "\e277";
}

.icon-lightning-1:before {
  content: "\e278";
}

.icon-hail:before {
  content: "\e279";
}

.icon-wind-rain:before {
  content: "\e27a";
}

.icon-lightning-4:before {
  content: "\e27b";
}

.icon-sun-2:before {
  content: "\e27c";
}

.icon-lightning-2:before {
  content: "\e27d";
}

.icon-cloud-2-1:before {
  content: "\e27e";
}

.icon-sun-half:before {
  content: "\e27f";
}

.icon-wind-cloud:before {
  content: "\e280";
}

.icon-snow-2:before {
  content: "\e281";
}

.icon-snow-3:before {
  content: "\e282";
}

.icon-cloud-black-1:before {
  content: "\e283";
}

.icon-lightning-black-2:before {
  content: "\e284";
}

.icon-moon-black:before {
  content: "\e285";
}

.icon-fog-sunrise:before {
  content: "\e286";
}

.icon-rain-1:before {
  content: "\e287";
}

.icon-thermometer-1:before {
  content: "\e288";
}

.icon-snow-1:before {
  content: "\e289";
}

.icon-cloud-sun-black:before {
  content: "\e28a";
}

.icon-rain-black-2:before {
  content: "\e28b";
}

.icon-letter-mail-1:before {
  content: "\e063";
}

.icon-content-44:before {
  content: "\e006";
}

.icon-map-pin-5:before {
  content: "\e007";
}

.icon-phone-1:before {
  content: "\e008";
}

.icon-rocket:before {
  content: "\e009";
}

.icon-home:before {
  content: "\e00a";
}

.icon-heart:before {
  content: "\e00b";
}

.icon-grid:before {
  content: "\e00c";
}

.icon-graph:before {
  content: "\e00d";
}

.icon-glass:before {
  content: "\e00e";
}

.icon-frames:before {
  content: "\e00f";
}

.icon-forbidden:before {
  content: "\e010";
}

.icon-folder-settings:before {
  content: "\e011";
}

.icon-folder-check:before {
  content: "\e012";
}

.icon-folder-add:before {
  content: "\e013";
}

.icon-folder:before {
  content: "\e014";
}

.icon-flag:before {
  content: "\e015";
}

.icon-files:before {
  content: "\e016";
}

.icon-file-settings:before {
  content: "\e017";
}

.icon-file-broken:before {
  content: "\e018";
}

.icon-file-add:before {
  content: "\e019";
}

.icon-file:before {
  content: "\e01a";
}

.icon-eyedropper:before {
  content: "\e01b";
}

.icon-envelope:before {
  content: "\e01c";
}

.icon-enter:before {
  content: "\e01d";
}

.icon-email-plane:before {
  content: "\e01e";
}

.icon-email:before {
  content: "\e01f";
}

.icon-download:before {
  content: "\e020";
}

.icon-diamond:before {
  content: "\e021";
}

.icon-cube:before {
  content: "\e022";
}

.icon-crop:before {
  content: "\e023";
}

.icon-credit-cards:before {
  content: "\e024";
}

.icon-connection-4:before {
  content: "\e025";
}

.icon-connection-3:before {
  content: "\e026";
}

.icon-connection-2:before {
  content: "\e027";
}

.icon-connection-1:before {
  content: "\e028";
}

.icon-connection-0:before {
  content: "\e029";
}

.icon-comment:before {
  content: "\e02a";
}

.icon-coffee:before {
  content: "\e02b";
}

.icon-cloud:before {
  content: "\e02c";
}

.icon-clock:before {
  content: "\e02d";
}

.icon-clipboard:before {
  content: "\e02e";
}

.icon-checkmark:before {
  content: "\e02f";
}

.icon-checkbox-checked:before {
  content: "\e030";
}

.icon-character:before {
  content: "\e031";
}

.icon-cd:before {
  content: "\e032";
}

.icon-cardiac-pulse:before {
  content: "\e033";
}

.icon-camera:before {
  content: "\e034";
}

.icon-calendar:before {
  content: "\e035";
}

.icon-calculator:before {
  content: "\e036";
}

.icon-bucket:before {
  content: "\e037";
}

.icon-bubble-3:before {
  content: "\e038";
}

.icon-bubble-2:before {
  content: "\e039";
}

.icon-bubble-1:before {
  content: "\e03a";
}

.icon-bubble:before {
  content: "\e03b";
}

.icon-browser:before {
  content: "\e03c";
}

.icon-box:before {
  content: "\e03d";
}

.icon-bookmark:before {
  content: "\e03e";
}

.icon-book-open:before {
  content: "\e03f";
}

.icon-book-close:before {
  content: "\e040";
}

.icon-bones:before {
  content: "\e043";
}

.icon-bolt:before {
  content: "\e044";
}

.icon-beer:before {
  content: "\e045";
}

.icon-battery-power:before {
  content: "\e046";
}

.icon-battery-4:before {
  content: "\e047";
}

.icon-battery-3:before {
  content: "\e048";
}

.icon-battery-2:before {
  content: "\e049";
}

.icon-battery-1:before {
  content: "\e04a";
}

.icon-battery-0:before {
  content: "\e04b";
}

.icon-bars:before {
  content: "\e04c";
}

.icon-barbell:before {
  content: "\e04d";
}

.icon-bank-notes:before {
  content: "\e04e";
}

.icon-bag:before {
  content: "\e04f";
}

.icon-atom:before {
  content: "\e050";
}

.icon-arrow-up:before {
  content: "\e051";
}

.icon-arrow-right:before {
  content: "\e052";
}

.icon-arrow-left:before {
  content: "\e053";
}

.icon-arrow-down:before {
  content: "\e054";
}

.icon-archive:before {
  content: "\e055";
}

.icon-align-right:before {
  content: "\e056";
}

.icon-align-left:before {
  content: "\e057";
}

.icon-align-justify:before {
  content: "\e058";
}

.icon-align-center:before {
  content: "\e059";
}

.icon-zoom-out:before {
  content: "\e05a";
}

.icon-zoom-in:before {
  content: "\e05b";
}

.icon-zoom:before {
  content: "\e05c";
}

.icon-windows:before {
  content: "\e05d";
}

.icon-window-delete:before {
  content: "\e05e";
}

.icon-wifi-3:before {
  content: "\e05f";
}

.icon-wifi-2:before {
  content: "\e061";
}

.icon-wifi-1:before {
  content: "\e062";
}

.icon-volume-up:before {
  content: "\e064";
}

.icon-volume-down:before {
  content: "\e065";
}

.icon-volume:before {
  content: "\e066";
}

.icon-users-outline:before {
  content: "\e067";
}

.icon-users:before {
  content: "\e068";
}

.icon-user-outline:before {
  content: "\e069";
}

.icon-user:before {
  content: "\e06a";
}

.icon-unlocked:before {
  content: "\e06b";
}

.icon-trash:before {
  content: "\e06c";
}

.icon-train:before {
  content: "\e06d";
}

.icon-tag:before {
  content: "\e06e";
}

.icon-syringe:before {
  content: "\e06f";
}

.icon-sun:before {
  content: "\e070";
}

.icon-stopwatch:before {
  content: "\e071";
}

.icon-star:before {
  content: "\e072";
}

.icon-speaker:before {
  content: "\e073";
}

.icon-shorts:before {
  content: "\e074";
}

.icon-share-outline:before {
  content: "\e075";
}

.icon-share:before {
  content: "\e076";
}

.icon-settings:before {
  content: "\e077";
}

.icon-set:before {
  content: "\e078";
}

.icon-select:before {
  content: "\e079";
}

.icon-screen:before {
  content: "\e07a";
}

.icon-reload:before {
  content: "\e07b";
}

.icon-refresh:before {
  content: "\e07c";
}

.icon-printer-2:before {
  content: "\e07d";
}

.icon-printer-1:before {
  content: "\e07e";
}

.icon-power:before {
  content: "\e07f";
}

.icon-pin:before {
  content: "\e080";
}

.icon-pill:before {
  content: "\e081";
}

.icon-pie-chart:before {
  content: "\e082";
}

.icon-picture:before {
  content: "\e083";
}

.icon-phone-3:before {
  content: "\e084";
}

.icon-phone-2:before {
  content: "\e085";
}

.icon-phone:before {
  content: "\e086";
}

.icon-pencil:before {
  content: "\e087";
}

.icon-paperclip:before {
  content: "\e088";
}

.icon-newspaper:before {
  content: "\e089";
}

.icon-mute:before {
  content: "\e08a";
}

.icon-modem:before {
  content: "\e08b";
}

.icon-minus:before {
  content: "\e08c";
}

.icon-microwave:before {
  content: "\e08d";
}

.icon-micro-mute:before {
  content: "\e08e";
}

.icon-micro:before {
  content: "\e08f";
}

.icon-meter:before {
  content: "\e090";
}

.icon-measure:before {
  content: "\e091";
}

.icon-map:before {
  content: "\e092";
}

.icon-locked:before {
  content: "\e093";
}

.icon-lock:before {
  content: "\e094";
}

.icon-list:before {
  content: "\e095";
}

.icon-laptop:before {
  content: "\e096";
}

.icon-lab:before {
  content: "\e097";
}

.icon-ipad-2:before {
  content: "\e099";
}

.icon-ipad:before {
  content: "\e09a";
}

.icon-invoice:before {
  content: "\e09b";
}

.icon-id-card:before {
  content: "\e09c";
}

.icon-instagram :before{
  content: "\f16d";
}